:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 20px;
  padding: 0 16px;
}

sd-navbar{
  margin-bottom: 20px;
  display: block;
  padding-left: 5%;
  background: $blue;
  color: $white;
}

nav a {
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none !important;
  &:hover, &:focus {
    color:#e1e1e1 !important;
  }
}

nav a.router-link-active {
  background: rgba(255,255,255,.2);
}
