:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 36px;
  padding: 0 16px;
}

h1 {
  display: block;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 36px;
  margin: 0;
  padding-left: 5%;
  background: $blue;
  color: $white;
}

.more {
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}
